*{
    margin: 0;
    padding: 0;
    user-select: none;
}
a{
    text-decoration: none;
    color: #333;
}
ul, ul li{
    list-style: none;
}
img{
    display: block;
}
html{
    min-width: 1152px;
}
.container{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}
/* header */
header{
    display: flex;
    justify-content: space-between;
    height: 60px;
    line-height: 60px;
    padding: 0 25px;
    background-color: #ec4141;
    color: #fff;
}
header div{
    display:flex;
    width: 520px;   
    line-height: 60px;
    align-items: center;
}
header div h1{
    position: relative;
    width: 140px;
    font-size: 20px;
    font-weight: 500;
    line-height: 60px;
    letter-spacing:2px;
    font-weight: 500;
}
header div #logo{
    width: 30px;
    height: 30px;
    line-height: 30px;
    color: #e13e3e;
    margin-right: 10px;
    text-align: center;
    font-size: 26px;
    background-color: #fff;
    border-radius: 50%;
} 
header div i{
    position: relative;
    width: 30px;
    height: 30px;
    /* line-height: 30px; */
    margin: 0 5px 0 40px;
    background-color: #e13e3e;
    /* text-align:center;  */
    border-radius: 50%;
    opacity: .5;
    cursor: pointer;
}
header div i:last-of-type{
    margin: 0 5px 0 0;
}
/* 设置字体图标的位置使其居中 */
header div i::before{
    position: absolute;
    width: 20px;
    height: 16px;
    top: -15px;
    left: 7px;
}
header div input{
    width: 150px;
    height: 26px;
    padding: 0 15px;
    margin:0 5px;
    color: #fff;
    background-color: #e13e3e;
    outline: none;
    border: 1px solid transparent;
    border-radius: 13px ;
}
/* 改变 placeholder 的默认颜色 */
header input::-webkit-input-placeholder {
    color: #ccc;
}
header input::-moz-input-placeholder {
    color: #ccc;
}
header input::-ms-input-placeholder {
    color: #ccc;
}
header div #learnMusic{
    position: relative;
    width: 30px;
    height: 30px;
    margin-left: 5px;
    background-color: #e13e3e;
    border-radius: 50px;
    cursor: pointer;
}
header div #learnMusic::before{
    position: absolute;
    top: -13px;
    left: 5px;
    font-size: 20px;
}

header ul {
   display: flex;
   width: 350px;
   height: 100%; 
   align-items: center;  
}
header ul li{
    /* float: right; */
    justify-content: space-between;
    padding: 0 10px;
    font-size: 14px;
    color: #eee;
    cursor: pointer;
    
}
header ul li:hover{
    color: #fff;
}
header ul li:first-child{
    position: relative;
    padding:  0;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #bbb;
}
header ul li img{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #fff;

}
header ul li span{
    font-size: 24px!important;
}
header ul li:first-child span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px!important;
    font-weight: 100;
}
header ul li:nth-child(5) span {
    font-size: 27px!important;
    font-weight: 500;
}
main{
    display: flex;
    /* height: 100%; */
    align-items:   stretch; 
}
/* 侧边栏 nav  */

aside{
    box-sizing: border-box;
    width: 200px;
    height: auto;
    flex: none;
    color: #444;
    font-size: 16px;
    padding:  10px 15px;
    border-right: 1px solid #ccc;
    /* flex-shrink: inherit; */
}

aside p{
    font-size: 14px;
    height: 45px;
    line-height: 45px;
    padding-left: 10px;
    color: #555;
}
aside p:last-of-type{
    cursor: pointer;
}
aside ul li{
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
    border-radius: 4px;
    cursor: pointer;
}
aside  li:hover {
    background-color: rgba(128, 125, 125, 0.1);
}

aside #myMusic li{
    font-size: 15px;
}

#findMusic{
    flex: 1;
    /* padding-left: 15px; */
}
/* 发现音乐导航栏模块 */
#findMusic nav{
    padding: 0 10px 0 25px;
    height: 60px;
}

#findMusic nav ul{
    width: 720px;
}
#findMusic nav ul li{
    float: left;
    height: 60px;
    line-height: 60px;
    text-align: center; 
    padding:  0 5px;  
    /* pointer-events: none; */
}

#findMusic nav ul li a{
    position: relative;
}
#findMusic nav ul li a:hover{
    color: #000;
}
/* 发现音乐模块导航栏 选中样式 */
.selected{
    font-weight: bold;
    font-size: 24px;
    padding: 0;
}
.underline{
    position:absolute;
    top: 34px;
    left: 50%;
    margin-left: calc(-40%); 
    width: 80%;
    height: 4px;
    border-radius: 4px;
    background-color:#ec4141;
}

/* banner 部分 */
#recommend{
    width: 100%;
    display: none;
    /* height: 100%; */
}
#recommend #rec-banner{
    position: relative;
    width: 92%;
    height: 0;
    padding-bottom: 18%;
    margin:30px auto 0;
    /* background-color: #32d; */
    perspective: 500px;

}
#recommend #rec-banner #pic-box{
    position: relative;
    width: 100%;
    height: 100%;
    transform-style:preserve-3d ;
    perspective: 800px;
}
#recommend #rec-banner #pic-box li{
    position: absolute;
    width: 45%;
    /* 盒子居中 */
    left: 50%; 
    transform: translateX(-50%);
    /* height: 250px; */
    border-radius: 8px;
    background-color: #faf;
    transition:  1.2s ease-in-out;
    line-height: 250px;
    font-size: 34px;
    text-align: center;
}

/* 左右箭头 */


#recommend #rec-banner #pic-box li img{
    width: 100%;
    
}
/* 轮播图前面三个图的样式 */
/* 其他的图片 在中间图片的后面 */
#recommend #rec-banner #pic-box li.center{
    transform: translate3d(-50%, 0px, 50px);
}
#recommend #rec-banner #pic-box  li.left{
    transform: translateX(0);
    left: 0;
}
#recommend #rec-banner #pic-box li.right{
    transform: translateX(10%);;
}
/* 左右箭头 */
#rec-banner i{
    position: absolute;
    display: none;
    width: 30px;
    height: 30px;
    top: 50%;
    transform:  translateY(-50%);
    font-size: 18px;
    line-height: 30px;
    color: #ddd;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.2);
}
#rec-banner i:hover{
    color: #fff;
}
#rec-banner #left-btn{
    left: 1%;
    transform: translateY(-50%) translateZ(5px);
}
#rec-banner #right-btn{
    right: 1%;
}
#rec-banner i span{
    position: absolute;
    left: 50%;
    transform: translateX(-40%);
}
#rec-banner #left-btn span{
    transform: translateX(-60%);
}

/* 小圆点 */
#rec-banner #box{
    position: absolute;
    bottom: -14px;
    left: 50%;
    width: 140px;
    transform:translate3d(-50%, 0,100px) scale(.8);
    margin: 10px auto;
}
#rec-banner #box li{
    display: inline-block   ;
    background-color: #888;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin: 0 3px;
    z-index: 99;
}
#rec-banner #box .now{
    background-color: rgb(223, 101, 71);
}
/* 哥哥哥 */
#info{
    width: 92%;
    margin: 45px auto;
}

#info h2{
    font-size: 20px;
    margin: 30px 0 10px;
}
i.cornerPlay{
    position: absolute;
    bottom:55px;
    right: 5px;
    width: 34px;
    height: 34px;
    line-height: 34px;
    font-size: 20px!important;
    text-align: center;
    background-color: #fff;
    color: rgb(223, 101, 71);
    border-radius: 50%;
    opacity: 0;
}
.centerPlay{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -60%);
    width: 44px;
    height: 44px;
    line-height: 34px;
    font-size: 38px!important;
    text-align: center;
    background-color: #fff;
    color: rgb(223, 101, 71);
    border-radius: 50%;
    opacity: 0;
}
.size{
    font-size: 22px!important;
}
.p{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-40%, -50%);
}
/* 推荐歌单 */
#info #songList ul{
    position: relative;
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 10px;
}
#info #songList ul li{
    position: relative;
    width:18%;
    border-radius: 3%;

    perspective: 800px;
}#info #songList ul li div{
    width: 100%;
    height: 0;
    overflow: hidden;
    border-radius: 3%;

    padding-bottom: 100%;
}
#info #songList ul li img{
    width: 100%;
    transition: all .5s;
}
#info #songList ul li:hover img{
    transform: scale(1.1)
}
#info #songList ul li p{
    /* content: '每日歌单推荐'; */
    /* position: absolute; */
    box-sizing: border-box;
    padding: 4px 2%;
    font-size: 15px;
    /* bottom: -20px; */
}

/* 独家放送 */
#info #exclusive ul{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
#info #exclusive ul li{
    position: relative;
    width: 32%;
    height: 100%;
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;
}
#info #exclusive ul li img{
    width: 100%;
    border-radius: 10px;
}
#exclusive  ul li .hidden{
    position: absolute;
    box-sizing: border-box;
    top: -34px;
    left: 0;
    width: 100%;
    height: 34px;
    line-height: 34px;
    padding: 0 10px;
    color: #fff;
    font-size: 14px;
    border-radius: 10px 10px 0px 0px;
    background-color: rgba(0, 0, 0, .6);
    transition: all .5s ease-in-out;
    overflow: hidden;
    /* opacity: 0; */
}
.hot{
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px 10px;
    font-size: 12px;
    color: #fff;
}
/* 最新音乐 */
#lastMusic div{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
#lastMusic div ul {
    width: 33%;
}
#lastMusic div ul li{
    position: relative;
    display: flex;
    height: 70px;
    margin-bottom: 20px;
    border-radius: 5px;
}
#lastMusic div ul li img{
    height: 100%;
    border-radius: 5px;
}
#lastMusic div ul li .info {
    display: block;
    box-sizing: border-box;
    max-width: 300px;
    min-width: 158px;
    padding: 8px 0 0 10px;
    font-size: 14px;
}
#lastMusic div ul li:hover{
    background-color: rgba(187, 187, 187, .3);
}
.littlePlay{
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-55%, -50%);
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: #fff;
    color: rgb(223, 101, 71);
}
.littlePlay span{
    font-size: 18px!important;
}
#lastMusic div ul li .info .songName{
    /* height: 18px; */
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#lastMusic div ul li .info .singer{
    color: #666;
    margin-top: 6px;
}